.root {
  min-height: 100vh;
  /* display: flex; */
}

.homeSection {
  width: 100vw;
}

html, body {
  height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation li {
  display: inline;
  padding: 5px;
  margin-right: 3px;
  font-size: 1.2rem;
}

.SelectedMonster {
  position: relative;
}

.MonsterTitle {
  color: white;
  background-color: red;
  width: 85%;
  margin: auto;
  font-size: 55px;
}

.MonsterButton {
  font-size: 2rem;
  height: 4rem;
  /* line-height: 1; */
}

.MonsterImage {
  /* z-index: 3!important; */
  margin: auto;
}

.MonsterIntro {
  /* width: 100vw; */
  display: block;
}

.MonsterIntro img {
  /* width: 40%; */
  height: 400px;
}

.MonsterIntroMobile {
  display: none;
}

.MonsterList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.MonsterWeapon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.monsterWeaponImage{
  width: auto;
}

.MonsterFight{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .MonsterImage {
    margin: auto;
    width: 70vw;
  }
  .MonsterIntroMobile {
    display: block;
  }
  .MonsterIntro {
    /* width: auto; */
    display: none;
  }
  .MonsterIntroMobile Img {
    width: 70%;
    /* display: none; */
  }
  .MonsterIntro Img:last-child {
    display: block;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .monsterWeaponImage{
    width: 80%;
  }

  .MonsterWeaponBox{
    width: 75vw;
    margin: auto;
  }
  .MonsterWeaponBox button{
    width: 200px;
    font-size: 1.2rem;
    padding: 10px;
  }

  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    /* width: 85%; */
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .MonsterImage {
    margin: auto;
    width: 80vw;
  }
  .MonsterIntroMobile {
    display: block;
  }
  .MonsterIntro {
    display: none;
    flex-direction: row;
    width: 100vw;
  }
  .MonsterIntroMobile Img {
    width: auto;
    width: 50%;
    /* display: none; */
  }
  .MonsterIntro Img:last-child {
    display: none;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 85%;
    margin: auto;
    font-size: 35px;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .MonsterImage {
    margin: auto;
    width: 80%;
  }
  .MonsterIntroMobile {
    display: none;
  }
  .MonsterIntro {
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .MonsterIntro Img {
    width: 80rem;
    padding: 0%;
    margin: 0;
    column-gap: 0;
  }
  .MonsterIntro Img:nth-last-child(2) {
    display: none;
  }
  .MonsterIntro Img:last-child {
    display: none;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   justify-items: center;
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   justify-items: center;
   margin: auto;
  }

  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 95%;
    margin: auto;
    font-size: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .MonsterImage {
    margin: auto;
    width: 80%;
  }
  .MonsterIntroMobile {
    display: none;
  }
  .MonsterIntro {
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .MonsterIntro Img {
    width: 80rem;
    padding: 0%;
    margin: 0;
    column-gap: 0;
  }
  .MonsterIntro Img:last-child {
    display: block;
  }
  .MonsterIntro Img:nth-last-child(2) {
    display: block;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 95%;
    margin: auto;
    font-size: 55px;
  }
}