.root {
  min-height: 100vh;
  /* display: flex; */
}

.homeSection {
  width: 100vw;
  height: 80vh;
}

html, body {
  height: 100vh;
  font-size: 16px;
  padding: 15px;
}

.navigation {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  border-bottom: 1px black solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.navigation li {
  display: inline;
  padding: 5px;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.SelectedMonster {
  position: relative;
}

.MonsterTitle {
  color: white;
  background-color: red;
  width: 85%;
  margin: auto;
  font-size: 55px;
}
.MonsterTitleResults{
  color: white;
  background-color: red;
  margin: auto;
  margin-top: 20px;
  font-size: 35px;
  width: 95%;
}
.MonsterButton {
  font-size: 2rem;
  height: 4rem;
  /* line-height: 1; */
}

.MonsterImage {
  /* z-index: 3!important; */
  margin: auto;
}

.MonsterIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.MonsterMain{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.MonsterMain div{
  margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  /* display: block; */
}
.MonsterIntro img {
  /* width: 40%; */
  height: 400px;
}

.MonsterIntroMobile {
  display: none;
}

.MonsterList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.MonsterWeapon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.monsterWeaponImage{
  width: auto;
}

.MonsterFight{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ResultsList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ResultsCardLeft{
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;
}
.ResultsCardRight{
  display: grid;
  width: 100%;
  grid-template-columns: 40% 60%;
}
.ResultsMonster{
width: 100%;

}
.ResultsWeapon{
width: 100%;
}

.ResultsHeader{
margin-top: 5px;
}

.FightAgain{
font-size: 1.2rem;
}

.InfoWeapons{
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding-bottom: 10px;
}
.InfoWeapons Img{
  width: 100%;

}
.InfoWeapons div>p{
 font-size: 20px;
 font-weight: 600;
}
.Info h2{
  text-align: center;
  margin: auto;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}
.Info h3{
  text-align: center;
  margin: auto;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
}

.Info ol>li:last-child, ol>li:last-child{
  padding-bottom: 10px;
}
.Info ul>li{
  text-align: center;
  padding-bottom: 10px;
}

.Info ol>li{
  padding-bottom: 10px;
}
.Info ul{
  padding-bottom: 30px;
}

.Info {
  padding: 30px;
}
.Info a {
  font-weight: 700;
  color: red;
}
.Info p {
  margin: 0 20%;
  padding-bottom: 20px;
}

.Info ol{
  margin: 0 30%;
}
/* -------------------------------------------------------------------------- */
/*                                 Extra Small                                */
/* -------------------------------------------------------------------------- */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .MonsterImage {
    margin: auto;
    width: 70vw;
  }
  .MonsterIntroMobile {
    display: block;
  }
  .MonsterIntro {
    /* width: auto; */
    display: none;
  }
  .MonsterIntroMobile Img {
    width: 70%;
    /* display: none; */
  }
  .MonsterIntro Img:last-child {
    display: block;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .monsterWeaponImage{
    width: 80%;
  }

  .MonsterWeaponBox{
    width: 75vw;
    margin: auto;
  }
  .MonsterWeaponBox button{
    width: 200px;
    font-size: 1.2rem;
    padding: 10px;
  }

  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    /* width: 85%; */
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
  }

  .MonsterTitleResults{
    color: white;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
  }

  .ResultsList{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }
  .ResultsCardLeft{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  .ResultsCardRight{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .ResultsMonster{
  width: 100%;

  }
  .ResultsWeapon{
  width: 100%;
  }
  .MonsterMain{
    display: none;
  }
  .Info p {
    margin: 0 2px;
    padding-bottom: 20px;
  }
  
  .Info ol{
    margin: 0 4px;
  }
  .InfoWeapons{
    /* width: 500px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: auto; */
    padding-bottom: 10px;
  }
  .InfoWeapons Img{
    width: 50%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Small Device                                */
/* -------------------------------------------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .MonsterImage {
    margin: auto;
    width: 80vw;
  }
  .MonsterIntroMobile {
    display: block;
  }
  .MonsterIntro {
    display: none;
  }
  .MonsterMain{
    display: none;
  }

  .MonsterIntroMobile Img {
    width: auto;
    width: 50%;
    /* display: none; */
  }
  .MonsterIntro Img:last-child {
    display: none;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 85%;
    margin: auto;
    font-size: 35px;
  }
  .MonsterTitleResults{
    color: white;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    font-size: 35px;
    width: 85%;
  }
  .ResultsList{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 75%;
  }
  .ResultsCardLeft{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  .ResultsCardRight{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .ResultsMonster{
  width: 100%;

  }
  .ResultsWeapon{
  width: 100%;
  }
  .Info p {
    margin: 0 2px;
    padding-bottom: 20px;
  }
  
  .Info ol{
    margin: 0 4px;
  }
  .InfoWeapons{
    /* width: 500px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: auto; */
    padding-bottom: 10px;
  }
  .InfoWeapons Img{
    width: 50%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Medium Device                               */
/* -------------------------------------------------------------------------- */

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .MonsterImage {
    margin: auto;
    width: 80%;
  }
  .MonsterIntroMobile {
    display: none;
  }
  .MonsterIntro {
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .MonsterIntro Img {
    width: 80rem;
    padding: 0%;
    margin: 0;
    column-gap: 0;
  }
  .MonsterIntro Img:nth-last-child(2) {
    display: none;
  }
  .MonsterIntro Img:last-child {
    display: none;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   justify-items: center;
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
   justify-items: center;
   margin: auto;
  }

  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 95%;
    margin: auto;
    font-size: 40px;
  }
  .MonsterTitleResults{
    color: white;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    width: 95%;
    margin: auto;
    font-size: 40px;
  }
  .ResultsList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }
  .ResultsCardLeft{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  .ResultsCardRight{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .ResultsMonster{
  width: 100%;

  }
  .ResultsWeapon{
  width: 100%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Large Device                                */
/* -------------------------------------------------------------------------- */

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .MonsterImage {
    margin: auto;
    width: 80%;
  }
  .MonsterIntroMobile {
    display: none;
  }
  .MonsterIntro {
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
  }
  .MonsterIntro Img {
    width: 80rem;
    padding: 0%;
    margin: 0;
    column-gap: 0;
  }
  .MonsterIntro Img:last-child {
    display: block;
  }
  .MonsterIntro Img:nth-last-child(2) {
    display: block;
  }
  .MonsterList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .MonsterFight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterWeapon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .MonsterTitle {
    color: white;
    background-color: red;
    width: 95%;
    margin: auto;
    font-size: 55px;
  }
  .MonsterTitleResults{
    color: white;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    width: 95%;
    margin: auto;
    font-size: 45px;
  }
  .ResultsList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }
  .ResultsCardLeft{
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }
  .ResultsCardRight{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
  }
  .ResultsMonster{
  width: 100%;

  }
  .ResultsWeapon{
  width: 100%;
  }

.MonsterMain{
  display: flex;
  flex-direction: row !important;
}
}
