.root{
  min-height: 100vh;
  /* display: flex; */
}

.homeSection{
  height: 80vh;
  overflow:hidden;
  overflow-y: hidden !important;
}
html, body {
  height: 100vh;

}

.MonsterButton{
font-size: 2rem;
height: 4rem;
/* line-height: 1; */
}

.navigation{
  display: flex;
  flex-direction: column;
}

.navigation li {
  display: inline;
  padding: 5px;
  font-size: 1.5rem;
}

.SelectedMonster {
  position: relative;
}
.MonsterTitle{
  /* transform: rotate(90deg); */
  color: white;
  background-color: red;
  width: 85%;
  margin: auto;


}
.MonsterImage {
  /* z-index: 3!important; */
  margin: auto;
}

.MonsterIntro{
width: 100vw;
display: block;
}
.MonsterIntro img{
width: auto;
}

.MonsterIntroMobile{
  display: none;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .MonsterImage {
    /* z-index: 3!important; */
    margin: auto;
    width: 80vw;
  }
  .MonsterIntroMobile{
    display: block;
  }
  .MonsterIntro {
    /* width: auto; */
    display: none;
    }
  .MonsterIntroMobile Img{
    width: 90vw;
    /* display: none; */
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .MonsterImage {
    /* z-index: 3!important; */
    margin: auto;
    width: 80vw;
  }
  .MonsterIntroMobile{
    display: block;
  }
  .MonsterIntro {
    /* width: auto; */
    display: none;
    }
  .MonsterIntroMobile Img{
    width: auto;
    /* display: none; */
    }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .MonsterImage {
    
    margin: auto;
    width: 80%;
  }
  .MonsterIntroMobile{
    display: none;
  }
  .MonsterIntro {
    /* width: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 99vw;
    }
  .MonsterIntro Img{
   /* width: 40rem; */
   /* width: 30%; */
   height: 300px;
   padding: 0%;
   margin: 0;
   column-gap: 0;
    }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}